/*Font*/
@import url("https://fonts.googleapis.com/css2?family=Tinos:ital,wght@0,400;0,700;1,400;1,700&display=swap");
/* 
    font-family: "Tinos", serif;
    font-family: "Tinos", serif;
*/

/*Font End*/

:root {
  --lm-font: "Tinos", serif;
  --lm-font-alt: "Tinos", serif;
  --lm-color-first: #0c71c3;
  --lm-color-second: #5b6f84;
  --lm-color-third: #212529;
  --lm-color-four: #007cb0;
  --lm-color-light: #ffffff;
  --lm-color-lite-dark: #323232;
  --lm-color-dark: #000000;
  --lm-color-neon: #f8de08;
  --lm-color-gray: #37526b;
}

body {
  transition: all 3s ease-out;
  overflow-x: hidden;
  font-family: var(--lm-font-alt);
  font-weight: 400;
}

* {
  margin: 0;
  padding: 0;
  transition: width 0.8s ease-in-out;
}

/*================================================
              Reset/Normalize CSS
=================================================== */

.lm-main-wrapper {
  background: #f4efeb;
}

.overlay {
  position: relative;
  z-index: 0;
}

.overlay:after {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: -1;
}

.text-white {
  color: var(--lm-color-light);
}

.text-black {
  color: var(--lm-color-dark);
}

.bg-white {
  color: var(--lm-color-light);
}

.bg-black {
  color: var(--lm-color-dark);
}

.custom-height {
  height: 100%;
}

.custom-width {
  width: 100%;
}

p {
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 30px;
  font-weight: 400;
  padding: 10px 0;
  color: var(--lm-color-lite-dark);
  font-family: var(--lm-font-alt);
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  font-weight: 700;
  font-family: var(--lm-font);
  color: var(--lm-color-third);
  padding-bottom: 10px;
}

h1 {
  font-size: 64px;
  line-height: 78px;
  font-weight: 700;
  margin: 0;
  color: var(--lm-color-third);
  font-family: var(--lm-font);
  padding-bottom: 5px;
}

h2 {
  font-size: 48px;
  line-height: normal;
  font-weight: 700;
  margin: 0;
  padding-bottom: 5px;
}

h3 {
  font-size: 30px;
  line-height: 40px;
  font-weight: 700;
  padding-bottom: 3px;
}

h4 {
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  padding-bottom: 3px;
}

h5 {
  font-size: 22px;
  line-height: 24px;
  padding-bottom: 3px;
  font-weight: 700;
}

h6 {
  font-size: 19px;
  line-height: 24px;
  font-weight: 700;
  color: var(--lm-color-second);
}

.small-heading {
  color: var(--lm-color-dark);
  font-weight: 600;
  font-size: 18px;
  margin-bottom: 5px;
  display: block;
}
.small-heading.white {
  color: var(--lm-color-light);
}

.lm-sec-title {
  font-size: 45px;
  line-height: 55px;
  color: var(--lm-color-dark);
  font-family: var(--lm-font);
  width: 100%;
  text-align: start;
}

.lm-sec-title.secondary {
  max-width: 75%;
}

.lm-sec-title.three {
  font-size: 35px;
  line-height: 40px;
}

.lm-sec-title.four {
  font-size: 24px;
  line-height: 30px;
}

.lm-sec-title.five {
  font-size: 20px;
  line-height: 28px;
}

ol,
ul,
dl {
  margin: 10px 0;
  padding: 0;
}

.sub-head {
  font-size: 28px;
  line-height: 34px;
}

.text-light {
  color: var(--lm-color-light) !important;
}

.text-dark {
  color: var(--lm-color-dark) !important;
}

.img-fluid {
  width: 100%;
  max-width: 100%;
}

.lm-sec-padding {
  padding: 4% 0;
}

.lm-container-padding {
  padding: 80px;
}

.lm-row-padding {
  padding: 2% 0;
}

.lm-col-right-padding {
  padding-right: 80px;
}

.lm-col-left-padding {
  padding-left: 80px;
}

.lm-right-padding {
  padding-right: 50px;
}

.lm-left-padding {
  padding-left: 50px;
}

.lm-main-wrapper ul li a {
  color: var(--lm-color-light);
}

.fw-bold {
  font-weight: 500 !important;
}

.btn {
  padding: 10px 35px;
  border-radius: 10px;
  font-weight: 600;
  font-size: 16px;
  text-transform: uppercase;
  background: var(--lm-color-second);
  transition: all 0.5s ease-out;
  position: relative;
  color: var(--lm-color-light);
  margin: 10px 0;
  text-transform: capitalize;
  box-shadow: 0 0px 20px rgba(51, 51, 51, 0.2);
}

.btn:focus,
.btn:active {
  box-shadow: none;
}

.btn:hover {
  color: var(--lm-color-light);
  background: var(--lm-color-first);
  box-shadow: 0 0px 20px rgba(51, 51, 51, 0.3);
}

.btn-one {
  padding: 16px 40px;
  text-transform: uppercase;
  background: rgb(203, 150, 96);
  background: linear-gradient(180deg, rgba(203, 150, 96, 1) 0%, rgba(249, 194, 117, 1) 100%);
}

.btn-one:hover {
  background: rgb(203, 150, 96);
  background: linear-gradient(0deg, rgba(203, 150, 96, 1) 0%, rgba(249, 194, 117, 1) 100%);
}

.lm-list li {
  padding: 6px 0 6px 40px;
  position: relative;
  font-size: 20px;
  transition: all 0.5s ease;
  list-style: none;
}

.lm-list li:before {
  position: absolute;
  content: "";
  background: var(--lm-color-light);
  width: 5px;
  height: 5px;
  border-radius: 50%;
  left: 16px;
  top: 17px;
  transition: all 0.5s ease;
}

.lm-list-alt li {
  padding: 8px 0 8px 40px;
  position: relative;
  font-size: 18px;
  line-height: 24px;
  font-weight: 500;
  color: var(--lm-color-lite-dark);
  transition: all 0.5s ease;
  list-style: none;
}

.lm-list-alt li:before {
  position: absolute;
  content: "";
  background: var(--lm-color-dark);
  width: 5px;
  height: 5px;
  border-radius: 50%;
  left: 16px;
  top: 17px;
  transition: all 0.5s ease;
}

.bold-text {
  font-size: 24px;
  line-height: 36px;
}

.lm-hero-btn {
  border-radius: 2px;
  padding: 10px 20px;
  color: var(--lm-color-light);
  min-width: 150px;
  background-color: var(--lm-color-first);
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.1);
  font-weight: 600;
  transition: all ease-in-out 0.4s;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
}

.lm-hero-btn img {
  width: 20px;
}

.lm-hero-btn.secondary {
  background-color: var(--lm-color-second);
}

.lm-hero-btn.secondary:hover {
  color: var(--lm-color-light);
  background-color: var(--lm-color-first);
}

.lm-hero-btn:hover {
  color: var(--lm-color-light);
  background-color: var(--lm-color-second);
}

.lm-hero-btn-two {
  padding: 15px 43px;
  background-color: #515151;
}

.lm-hero-btn-two:before {
  background-color: var(--lm-color-first);
}

.font-18 {
  font-size: 18px;
  line-height: 26px;
}

.font-16 {
  font-size: 16px;
  line-height: 26px;
}

.color-text {
  color: var(--lm-color-first);
}

.accordion-wrapper .accordion-item {
  border: none;
  margin-bottom: 10px;
  background-color: transparent;
}

.accordion-wrapper .accordion-item:last-child {
  margin-bottom: 0px;
}

.accordion-wrapper .accordion-button {
  font-size: 16px;
  line-height: 27px;
  font-weight: 600;
  padding: 0px 10px 5px;
  background-color: transparent;
  color: var(--lm-color-third);
  /* border: 1px solid #f1f1f1; */
  border-radius: 4px;
}

.accordion-wrapper .accordion-button.collapsed {
  background: transparent;
}

.accordion-wrapper .accordion-collapse {
  background-color: transparent;
}

.accordion-wrapper .accordion-header {
  padding-bottom: 0px;
  border-bottom: none;
}

.accordion-wrapper .accordion-button.collapsed,
.accordion-wrapper .accordion-button:focus,
.accordion-wrapper .accordion-button:not(.collapsed) {
  box-shadow: none;
}

.accordion-wrapper .accordion-button::after {
  width: 20px;
  height: 20px;
  background-size: 20px;
  background-image: url(../images/icon/bottom-arrow.png);
  transition: all 0.5s;
  display: flex;
  position: absolute;
  top: 50%;
  right: 2%;
  transform: translateY(-50%) rotate(-90deg);
}
.accordion-wrapper .accordion-button:not(.collapsed)::after {
  background-image: url("../images/icon/bottom-arrow.png");
  transform: translateY(-50%) rotate(0deg);
}

.accordion-wrapper .accordion-body {
  box-shadow: none;
  background-color: transparent;
  padding: 10px;
}

.accordion-wrapper .accordion-body p {
  padding-top: 0px;
}

.section-overlap {
  transform: translateY(-100px);
}

/*================================================
              Banner Section Start
=================================================== */
.lm-banner-sec {
  height: 500px;
  background-image: url("../images/banner/main-banner.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  display: flex;
  align-items: center;
}

.lm-banner-sec .primary-btn {
  padding: 7px 20px;
  font-size: 14px;
}

.lm-banner-sec .primary-btn img {
  width: 10px;
}

.lm-banner-sec .primary-btn.call-btn {
  margin-bottom: 0px;
}

.lm-banner-sec .banner-wrapper {
  display: flex;
  align-items: center;
  flex-direction: row;
}

.lm-banner-sec .banner-content {
  width: 100%;
  max-width: 700px;
}

.lm-banner-sec .banner-content .register-button {
  width: 250px;
}

.lm-banner-sec .banner-content h2 {
  color: var(--lm-color-light);
  font-family: var(--lm-font);
  margin-bottom: 20px;
  line-height: 65px;
  font-size: 60px;
  width: 100%;
}

.banner-cta {
  background-color: #ffd84a;
  padding: 20px 30px;
  width: 87%;
  position: absolute;
  bottom: -75px;
  border-radius: 5px;
  left: 50%;
  transform: translateX(-50%);
}

.banner-cta .lm-sec-title {
  color: var(--lm-color-lite-dark);
  font-weight: 700;
}

.banner-cta .small-heading {
  color: var(--lm-color-second);
  font-style: italic;
  font-size: 15px;
}

/*================================================
              LM Section Two
=================================================== */
.lm-sec-two h1 {
  font-size: 64px;
  line-height: 70px;
  margin-bottom: 10px;
  max-width: 650px;
  width: 100%;
}

.about-list {
  padding-left: 0;
}

.about-list li {
  list-style: none;
  margin-bottom: 8px;
  color: var(--lm-color-first);
  font-size: 20px;
  font-weight: 600;
}

.about-list li img {
  margin-right: 5px;
}

.about-widget {
  border: 1px solid var(--lm-color-first);
  padding: 20px 20px;
  border-radius: 5px;
  box-shadow: 10px 6px 20px rgba(0, 0, 0, 0.12);
}

.about-widget ul {
  padding-left: 0;
  max-width: 80%;
  margin: 0 auto;
}

.about-widget ul li {
  list-style: none;
}

.about-widget ul li a {
  text-decoration: none;
  color: var(--lm-color-lite-dark);
  padding: 12px 0px;
  display: block;
  position: relative;
  transition: all ease-in-out 0.5s;
}

.about-widget-inner .thumb img {
  width: 150px;
}

.about-widget ul li a:hover {
  color: var(--lm-color-first);
}

.about-widget ul li a::after {
  position: absolute;
  width: 10px;
  height: 10px;
  content: "";
  background: var(--lm-color-first);
  border-radius: 100%;
  left: -25px;
  top: 20px;
  transform: translateY(-50%);
}

/*================================================
              LM Section Three
=================================================== */
.lm-sec-three .content-wrapper {
  background-color: #f6f6f6;
  padding: 40px;
  border-radius: 8px;
  border-top: 5px solid var(--lm-color-first);
}

.lm-sec-three .lm-thumb img {
  border-radius: 10px;
}

/*================================================
              LM Section Four
=================================================== */
.lm-sec-four .lm-sec-background {
  background-image: url("../images/banner/port-city-cabinate-process-banner.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  height: auto;
}

.lm-sec-four .lm-sec-background.secondary {
  background-image: url("../images/banner/port-city-cabinate-step-banner.png");
  /* margin-bottom: 40px; */
}

.lm-sec-four .section-element-wrapper .section-background {
  background-image: url("../images/banner/benefits-of-oil.svg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  height: auto;
  padding: 40px;
  border-radius: 12px;
}

.lm-sec-four .lm-item {
  padding: 25px;
  background-color: var(--lm-color-light);
  border-radius: 6px;
  height: 100%;
}

.lm-sec-four .lm-item .icon img {
  width: 30px;
  margin-bottom: 15px;
}

.lm-sec-four .lm-item .content h6 {
  padding-bottom: 0px;
}

.lm-sec-four .lm-item .content p {
  padding-top: 5px;
}

/*================================================
              LM Section Five
=================================================== */

.lm-sec-five .lm-sec-background {
  background-image: url("../images/banner/new-construction.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  height: auto;
}

.lm-sec-five .section-content {
  max-width: 900px;
  width: 100%;
}

.lm-sec-five .section-content .lm-sec-title {
  max-width: 600px;
  width: 100%;
}

.lm-sec-five .lm-sec-background.overlay:after {
  background: linear-gradient(90deg, rgba(37, 37, 37, 0.9) 40%, rgba(75, 75, 75, 0.7) 60%);
}

.lm-sec-five .element-wrapper .lm-thumb img {
  object-fit: cover;
  border-radius: 12px;
}

.lm-sec-five .element-wrapper .lm-content {
  background-color: var(--lm-color-second);
  border-radius: 12px;
}

.lm-sec-five .section-content-wrapper {
  transform: translateY(-50px);
}

.lm-sec-five .section-content-wrapper .lm-thumb img {
  border-radius: 10px;
}

.lm-sec-five .section-element-wrapper .section-background {
  background-image: url("../images/banner/benefits-of-oil.svg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  height: auto;
  padding: 40px;
  border-radius: 12px;
}

.lm-sec-five .section-element-wrapper .section-background.overlay:after {
  border-radius: 12px;
  background-color: linear-gradient(90deg, rgba(75, 75, 75, 1) 0%, rgba(37, 37, 37, 1) 74%);
}

.lm-sec-five .section-element-wrapper .lm-box-content {
  padding: 25px;
  padding-bottom: 35px;
  border-radius: 12px;
}

.lm-sec-five .section-element-wrapper .lm-box-content .action-btn {
  position: absolute;
  bottom: -20px;
  left: 50%;
  transform: translateX(-50%);
}

.lm-sec-five .section-element-wrapper .lm-box-content .action-btn a {
  background-color: var(--lm-color-four);
  color: var(--lm-color-light);
  border-radius: 20px;
  display: inline-block;
  min-width: inherit;
}

.lm-sec-five .section-element-wrapper .lm-box-content .action-btn a img {
  width: 15px;
}

/*================================================
              LM Section Six
=================================================== */
.lm-sec-six {
  background-image: url("../images/banner/choose-the-best-kitchen-banner.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  height: auto;
}

.lm-sec-six .lm-box-content {
  padding: 25px;
  background-color: var(--lm-color-light);
  border-radius: 12px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 85%;
}

.lm-sec-six .lm-box-content .lm-sec-title {
  margin-bottom: 15px;
  padding-bottom: 20px;
  border-bottom: 1px solid #ccc;
}

/*================================================
              LM Section Seven
=================================================== */
.lm-sec-seven {
  background-image: url("../images/banner/kitchen-renovation-banner.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  height: auto;
}

.lm-sec-seven.overlay:after {
  background-color: rgba(0, 0, 0, 0.7);
}

.lm-sec-seven .lm-box-content {
  padding: 30px 40px;
  background-color: var(--lm-color-light);
  border-radius: 10px;
  margin-top: 30px;
}

.lm-sec-seven .lm-box-content ul li {
  display: flex;
  align-items: center;
  gap: 15px;
  list-style: none;
  padding: 15px 0px;
}

.lm-sec-seven .lm-box-content ul li:first-child {
  padding-top: 0px;
}

.lm-sec-seven .lm-box-content ul li:last-child {
  padding-bottom: 0px;
}

.lm-sec-seven .lm-box-content ul li img {
  width: 25px;
}

/*================================================
              LM Section Eight
=================================================== */

.lm-sec-eight .lm-item {
  border-left: 1px solid #5b6f84;
  -webkit-box-shadow: -3px 4px 25px -4px rgba(0, 24, 31, 0.26);
  -moz-box-shadow: -3px 4px 25px -4px rgba(0, 24, 31, 0.26);
  box-shadow: -3px 4px 25px -4px rgba(0, 24, 31, 0.26);
}

.lm-sec-eight .lm-content {
  padding: 20px;
  min-height: 475px;
}

/*================================================
              LM Section Nine
=================================================== */
.lm-sec-nine .lm-sec-background {
  background-image: url("../images/banner/trust-main-banner.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  height: auto;
}

.lm-sec-nine .lm-sec-wrapper {
  background-image: url("../images/banner/trust-inner-banner.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  height: auto;
  border-radius: 12px;
}

.lm-sec-nine .lm-sec-background.overlay:after {
  background-color: rgba(0, 0, 0, 0.5);
}

.lm-sec-nine .section-content {
  max-width: 800px;
  width: 100%;
}

.lm-sec-nine .lm-sec-wrapper .lm-sec-inner .lm-box-content {
  max-width: 650px;
  width: 100%;
  margin-right: 40px;
  padding: 40px;
  border-radius: 10px;
}

/*================================================
              LM Section Eleven
=================================================== */
.lm-sec-eleven {
  background-image: url("../images/banner/lm-form-banner.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  height: auto;
}

.lm-form-main {
  padding: 40px 35px 40px 35px;
  background: rgb(246, 250, 255, 0.95);
  border-radius: 10px;
  border: 1px solid #cdcdcd;
  box-shadow: rgba(17, 12, 46, 0.35) 0px 30px 70px 0px;
}

.lm-sec-eleven .lm-sec-title {
  color: var(--lm-color-lite-dark);
}

/*================================================
              LM Section Fourteen
=================================================== */
.service-widget {
  box-shadow: 10px 6px 20px rgba(0, 0, 0, 0.12);
  border: 1px solid var(--lm-color-second);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.service-widget .widget-top {
  background-color: var(--lm-color-second);
  width: 100%;
  padding: 15px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.service-widget .widget-top h6 {
  color: var(--lm-color-light);
}

.service-widget .widget-top .selection {
  position: relative;
}

.service-widget .widget-top .selection select {
  border-radius: 8px;
  background-color: #bddaec;
  border: none;
  outline: none;
  padding: 7px 15px;
  -webkit-appearance: none;
  appearance: none;
}

.service-widget .widget-top .selection .icon {
  position: absolute;
  top: 50%;
  right: 5%;
  transform: translateY(-50%);
  pointer-events: none;
}

.service-widget .widget-bottom {
  padding: 15px 20px;
  border-radius: 5px;
  border-top: none;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
}

.service-widget .widget-bottom .redirect-links {
  padding-left: 0;
}

.service-widget .widget-bottom .redirect-links li {
  position: relative;
  list-style: none;
}

.service-widget .widget-bottom .redirect-links li a {
  text-decoration: none;
  color: var(--lm-color-dark);
  display: block;
  padding: 5px 25px;
}

.service-widget .widget-bottom .redirect-links li a::after {
  position: absolute;
  content: "";
  top: 12px;
  left: 0;
  width: 12px;
  height: 12px;
  background-color: var(--lm-color-second);
  border-radius: 100%;
}

.service-widget .widget-bottom .action-btn .primary-btn {
  padding: 6px 25px;
  font-size: 14px;
  border-radius: 7px;
  background: var(--lm-color-second);
  color: var(--lm-color-light);
}

/*================================================
              RESPONSIVE STYLES
=================================================== */
@media (max-width: 1370px) {
  .lm-sec-eight .lm-content {
    min-height: 575px;
  }
}

@media (max-width: 1200px) {
  .lm-service-item .lm-content {
    min-height: 955px;
  }

  .lm-sec-eight .lm-content {
    min-height: 725px;
  }

  .lm-sec-thirteen .lm-service-item .lm-content {
    border: 1px solid #cdcdcd;
    min-height: 760px;
  }
}

@media (max-width: 1024px) {
  .lm-sec-two h1 {
    font-size: 55px;
    line-height: 62px;
  }

  .section-overlap {
    transform: translateY(0px);
    margin-top: 40px;
  }

  .lm-sec-five .section-bottom {
    transform: translateY(0px);
    margin-top: 30px;
  }

  .banner-cta {
    position: static;
    transform: translateX(0px);
    width: 90%;
    padding: 20px 25px;
    margin-top: 20px;
    bottom: 0;
    left: 0;
  }

  .banner-cta img {
    width: 70px;
  }

  .banner-cta .lm-sec-title {
    font-size: 24px;
  }

  .banner-cta .small-heading {
    font-size: 14px;
    margin-top: 0px !important;
  }

  .lm-service-item {
    margin-bottom: 35px;
  }

  .lm-sec-nine .lm-sec-wrapper .lm-sec-inner .lm-box-content {
    max-width: 90%;
    margin-right: 0px;
    padding: 25px;
  }

  .lm-service-item .lm-content {
    padding: 25px 10px;
    border: 1px solid var(--lm-color-first);
  }
}

@media (max-width: 991px) {
  .lm-sec-eight .lm-item {
    margin-bottom: 40px;
  }

  .lm-sec-eight .lm-content {
    min-height: auto;
  }
}

@media (max-width: 768px) {
  /* Tablet Styles */
  .lm-hero-btn {
    padding: 8px 30px;
    min-width: 200px;
  }

  .section-overlap {
    margin-top: 20px;
  }

  .custom-height {
    height: auto;
  }

  .custom-width {
    width: auto;
  }

  p,
  ul li {
    font-size: 14px;
    line-height: 25px;
  }

  .lm-sec-five .section-content-wrapper {
    transform: translateY(0px);
    margin-top: 20px;
  }

  .lm-sec-five .section-element-wrapper .section-background {
    padding: 25px 20px 40px;
  }

  .lm-sec-five .section-thumb {
    margin-bottom: 15px;
  }

  .lm-sec-five .lm-sec-title {
    font-size: 25px;
    line-height: 35px;
  }

  .lm-sec-six .section-item {
    height: auto;
  }

  .lm-sec-five .section-bottom .thumb img {
    width: 120px;
  }

  .lm-sec-three .content-wrapper {
    padding: 15px;
  }

  .lm-form-main {
    padding: 20px;
  }

  .lm-service-item .lm-content {
    padding: 25px 20px;
    min-height: auto;
  }

  .lm-hero-btn img {
    width: 25px;
  }
  .lm-sec-title {
    font-size: 28px;
    line-height: 30px;
  }
  .lm-sec-title.secondary {
    max-width: 100%;
  }

  .lm-sec-title.three {
    font-size: 24px;
    line-height: 30px;
  }

  .lm-sec-three .lm-thumb,
  .lm-sec-three .lm-thumb img {
    height: auto;
  }

  .lm-sec-title.four {
    font-size: 20px;
    line-height: 25px;
  }

  .lm-service-item .lm-thumb .icon img {
    width: 40px;
  }

  .lm-service-item {
    margin-bottom: 25px;
  }
  .lm-sec-thirteen .lm-service-item .lm-content {
    min-height: auto;
  }

  .lm-sec-six .lm-thumb {
    margin-top: 20px;
  }

  .lm-sec-title.five {
    font-size: 18px;
    line-height: 27px;
  }

  .lm-banner-sec {
    height: 300px;
    padding: 40px 0px;
  }

  .banner-cta {
    width: 62%;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin: 20px auto 0px;
  }

  .banner-cta .lm-sec-title,
  .banner-cta .small-heading {
    text-align: center;
  }

  .lm-banner-sec .banner-wrapper {
    flex-direction: column;
  }

  .lm-banner-sec .banner-content {
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .lm-banner-sec .banner-content h2 {
    max-width: 100%;
    text-align: center;
    font-size: 40px;
    line-height: 45px;
    margin-bottom: 10px;
  }

  .lm-banner-sec .banner-content span {
    font-size: 20px;
    margin-bottom: 10px;
  }

  .lm-sec-two h1 {
    font-size: 40px;
    line-height: 45px;
    margin-bottom: 0px;
  }

  .about-list li {
    font-size: 18px;
  }

  .about-widget {
    padding: 20px 45px;
  }

  .about-widget ul {
    max-width: 100%;
  }

  .green-list li {
    padding: 7px 0px;
  }

  .lm-sec-eight {
    height: auto;
  }

  .lm-sec-thirteen .lm-sec-thirteen-wrapper .content {
    padding: 15px;
  }

  .lm-sec-thirteen .lm-sec-thirteen-wrapper {
    background-position: center;
  }
}

@media (max-width: 480px) {
  /* Mobile Small Styles */

  .lm-hero-btn {
    padding: 8px 10px;
    min-width: 140px;
    font-size: 13px;
  }

  .lm-sec-eight .lm-item {
    margin-bottom: 25px;
  }

  .lm-sec-seven .lm-box-content {
    padding: 15px 10px;
    margin-top: 20px;
  }

  .lm-sec-seven .lm-box-content ul {
    padding-left: 5px;
  }

  .lm-sec-seven .lm-box-content ul li {
    align-items: start;
    gap: 7px;
    padding: 7px 0px;
  }

  .lm-sec-seven .lm-box-content ul li img {
    margin-top: 5px;
    width: 20px;
  }

  .accordion-wrapper .accordion-body {
    padding: 5px;
  }

  .accordion-wrapper .accordion-button {
    padding: 0px;
    padding-bottom: 5px;
    padding-right: 40px;
  }

  .lm-sec-six .lm-box-content {
    padding: 15px;
    width: 94%;
  }

  .lm-sec-six .lm-box-content .lm-sec-title {
    margin-bottom: 5px;
    padding-bottom: 0px;
    border: none;
  }

  .lm-sec-five .section-wrapper {
    padding: 0px;
    box-shadow: none;
  }

  .lm-hero-btn img {
    width: 20px;
  }

  .lm-sec-title {
    font-size: 24px;
    line-height: 30px;
  }

  .lm-service-item .lm-content {
    padding: 25px 10px;
  }

  .lm-sec-nine .lm-sec-wrapper .lm-sec-inner .lm-box-content {
    max-width: 92%;
    padding: 15px;
  }

  .accordion-wrapper .accordion-button {
    font-size: 14px;
    line-height: 20px;
  }

  .accordion-wrapper .accordion-item {
    margin-bottom: 15px;
  }

  .lm-sec-title.three {
    font-size: 20px;
    line-height: 26px;
  }

  .lm-sec-title.four {
    font-size: 18px;
    line-height: 24px;
  }

  .banner-cta {
    width: 80%;
  }

  .banner-cta .lm-sec-title {
    font-size: 20px;
    margin-top: 10px;
  }

  .banner-cta .small-heading {
    font-size: 13px;
  }

  .banner-cta img {
    width: 60px;
  }

  .lm-banner-sec .primary-btn {
    padding: 7px 20px;
    font-size: 14px;
  }

  .lm-banner-sec .primary-btn img {
    width: 14px;
  }

  .lm-banner-sec .primary-btn.call-btn {
    margin-bottom: 0px;
  }

  .lm-banner-sec .banner-content h2 {
    font-size: 24px;
    line-height: 30px;
  }

  .lm-banner-sec .banner-content span {
    font-size: 18px;
  }

  .lm-sec-two h1 {
    font-size: 28px;
    line-height: 30px;
  }

  .about-list li {
    font-size: 15px;
  }

  .lm-sec-five .section-element-wrapper .section-background {
    padding: 15px 15px 30px;
  }

  .lm-sec-five .section-element-wrapper .section-background {
    padding: 15px 15px 30px;
  }

  .lm-sec-five .section-element-wrapper .lm-box-content {
    padding: 15px;
  }

  .lm-sec-five .section-element-wrapper .lm-box-content p {
    font-size: 14px;
  }
}
