/*Font*/
@import url("https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap");
/* 
    font-family: "Mulish", sans-serif;;
    font-family: "Mulish", sans-serif;;
*/

/*Font End*/

:root {
  --lm-font: "Mulish", sans-serif;
  --lm-font-alt: "Mulish", sans-serif;
  --lm-color-first: #ff0a04;
  --lm-color-second: #2a2a2a;
  --lm-color-third: #111e37;
  --lm-color-light: #ffffff;
  --lm-color-lite-dark: #222222;
  --lm-color-dark: #000000;
  --lm-color-neon: #003a70;
  --lm-color-gray: #37526b;
}

body {
  transition: all 3s ease-out;
  overflow-x: hidden;
  font-family: var(--lm-font-alt);
  font-weight: 400;
}

* {
  margin: 0;
  padding: 0;
  transition: width 0.8s ease-in-out;
}

/*================================================
              Reset/Normalize CSS
=================================================== */

.lm-main-wrapper {
  background: #f4efeb;
}

.overlay {
  position: relative;
  z-index: 0;
}

.overlay:after {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: -1;
}

.text-white {
  color: var(--lm-color-light);
}

.text-black {
  color: var(--lm-color-dark);
}

.bg-white {
  color: var(--lm-color-light);
}

.bg-black {
  color: var(--lm-color-dark);
}

p {
  margin: 0;
  padding: 0;
  font-size: 15px;
  line-height: 28px;
  font-weight: 400;
  padding: 10px 0;
  color: var(--lm-color-second);
  font-family: var(--lm-font-alt);
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  font-weight: 700;
  font-family: var(--lm-font);
  color: var(--lm-color-second);
  padding-bottom: 10px;
}

h1 {
  font-size: 64px;
  line-height: 78px;
  font-weight: 700;
  margin: 0;
  color: var(--lm-color-second);
  font-family: var(--lm-font);
  padding-bottom: 5px;
}

h2 {
  font-size: 48px;
  line-height: normal;
  font-weight: 700;
  margin: 0;
  padding-bottom: 5px;
}

h3 {
  font-size: 30px;
  line-height: 40px;
  font-weight: 700;
  padding-bottom: 3px;
}

h4 {
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  padding-bottom: 3px;
}

h5 {
  font-size: 22px;
  line-height: 24px;
  padding-bottom: 3px;
  font-weight: 700;
}

h6 {
  font-size: 19px;
  line-height: 24px;
  font-weight: 700;
  color: var(--lm-color-second);
}

.small-heading {
  color: var(--lm-color-dark);
  font-weight: 600;
  font-size: 18px;
  margin-bottom: 5px;
  display: block;
}
.small-heading.white {
  color: var(--lm-color-light);
}

.lm-sec-title {
  font-size: 45px;
  line-height: 55px;
  color: var(--lm-color-dark);
  font-family: var(--lm-font);
  width: 100%;
  text-align: start;
}

.lm-sec-title.secondary {
  max-width: 75%;
}

.lm-sec-title.three {
  font-size: 35px;
  line-height: 40px;
}

.lm-sec-title.four {
  font-size: 24px;
  line-height: 30px;
}

.lm-sec-title.five {
  font-size: 20px;
  line-height: 28px;
}

ol,
ul,
dl {
  margin: 10px 0;
  padding: 0;
}

.sub-head {
  font-size: 28px;
  line-height: 34px;
}

.text-light {
  color: var(--lm-color-light) !important;
}

.text-dark {
  color: var(--lm-color-dark) !important;
}

.img-fluid {
  width: 100%;
  max-width: 100%;
}

.lm-sec-padding {
  padding: 4% 0;
}

.lm-container-padding {
  padding: 80px;
}

.lm-row-padding {
  padding: 2% 0;
}

.lm-col-right-padding {
  padding-right: 80px;
}

.lm-col-left-padding {
  padding-left: 80px;
}

.lm-right-padding {
  padding-right: 50px;
}

.lm-left-padding {
  padding-left: 50px;
}

.lm-main-wrapper ul li a {
  color: var(--lm-color-light);
}

.fw-bold {
  font-weight: 500 !important;
}

.btn {
  padding: 10px 35px;
  border-radius: 10px;
  font-weight: 600;
  font-size: 16px;
  text-transform: uppercase;
  background: var(--lm-color-second);
  transition: all 0.5s ease-out;
  position: relative;
  color: var(--lm-color-light);
  margin: 10px 0;
  text-transform: capitalize;
  box-shadow: 0 0px 20px rgba(51, 51, 51, 0.2);
}

.btn:focus,
.btn:active {
  box-shadow: none;
}

.btn:hover {
  color: var(--lm-color-light);
  background: var(--lm-color-first);
  box-shadow: 0 0px 20px rgba(51, 51, 51, 0.3);
}

.btn-one {
  padding: 16px 40px;
  text-transform: uppercase;
  background: rgb(203, 150, 96);
  background: linear-gradient(180deg, rgba(203, 150, 96, 1) 0%, rgba(249, 194, 117, 1) 100%);
}

.btn-one:hover {
  background: rgb(203, 150, 96);
  background: linear-gradient(0deg, rgba(203, 150, 96, 1) 0%, rgba(249, 194, 117, 1) 100%);
}

.lm-list li {
  padding: 6px 0 6px 40px;
  position: relative;
  font-size: 20px;
  transition: all 0.5s ease;
  list-style: none;
}

.lm-list li:before {
  position: absolute;
  content: "";
  background: var(--lm-color-light);
  width: 5px;
  height: 5px;
  border-radius: 50%;
  left: 16px;
  top: 17px;
  transition: all 0.5s ease;
}

.lm-list-alt li {
  padding: 8px 0 8px 40px;
  position: relative;
  font-size: 18px;
  line-height: 24px;
  font-weight: 500;
  color: var(--lm-color-lite-dark);
  transition: all 0.5s ease;
  list-style: none;
}

.lm-list-alt li:before {
  position: absolute;
  content: "";
  background: var(--lm-color-dark);
  width: 5px;
  height: 5px;
  border-radius: 50%;
  left: 16px;
  top: 17px;
  transition: all 0.5s ease;
}

.bold-text {
  font-size: 24px;
  line-height: 36px;
}

.lm-hero-btn {
  border-radius: 30px;
  padding: 8px 20px;
  color: var(--lm-color-light);
  min-width: 220px;
  background-color: var(--lm-color-first);
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.1);
  font-weight: 600;
  transition: all ease-in-out 0.4s;
  display: flex;
  justify-content: start;
  align-items: center;
}

.lm-hero-btn img {
  width: 35px;
}

.lm-hero-btn.secondary {
  background-color: var(--lm-color-light);
  color: var(--lm-color-gray);
}

.lm-hero-btn.secondary:hover {
  color: var(--lm-color-light);
  background-color: var(--lm-color-gray);
}

.lm-hero-btn:hover {
  color: var(--lm-color-gray);
  background-color: var(--lm-color-light);
}

.lm-hero-btn-two {
  padding: 15px 43px;
  background-color: #515151;
}

.lm-hero-btn-two:before {
  background-color: var(--lm-color-first);
}

.font-18 {
  font-size: 18px;
  line-height: 26px;
}

.font-16 {
  font-size: 16px;
  line-height: 26px;
}

.color-text {
  color: var(--lm-color-first);
}

.accordion-wrapper .accordion-item {
  border: none;
  margin-bottom: 30px;
  background-color: transparent;
}

.accordion-wrapper .accordion-button {
  color: var(--lm-color-dark);
  font-size: 16px;
  line-height: 27px;
  font-weight: 600;
  padding: 10px 30px 10px 20px;
  background-color: var(--lm-color-third);
  color: var(--lm-color-light);
}

.accordion-wrapper .accordion-collapse {
  background-color: transparent;
}

.accordion-wrapper .accordion-header {
  padding-bottom: 0px;
  border-bottom: none;
}

.accordion-wrapper .accordion-button.collapsed,
.accordion-wrapper .accordion-button:focus,
.accordion-wrapper .accordion-button:not(.collapsed) {
  box-shadow: none;
}

.accordion-wrapper .accordion-button::after {
  width: 12px;
  height: 18px;
  background-size: 10px;
  background-image: url("../images/icon/right-arrow.png");
  transition: all 0.5s;
  display: flex;
  position: absolute;
  top: 53%;
  right: 2%;
  transform: translateY(-50%);
}
.accordion-wrapper .accordion-button:not(.collapsed)::after {
  background-image: url("../images/icon/right-arrow.png");
  transform: translateY(-50%) rotate(90deg);
  right: 2.5%;
}

.accordion-wrapper .accordion-body {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 11px;
  background-color: transparent;
  padding: 20px;
}

/*================================================
              Banner Section Start
=================================================== */
.lm-banner-sec {
  height: 500px;
  background-image: url("../images/banner/main-banner.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 80px 0px;
}

.lm-banner-sec .primary-btn {
  padding: 7px 20px;
  font-size: 14px;
}

.lm-banner-sec .primary-btn img {
  width: 14px;
}

.lm-banner-sec .primary-btn.call-btn {
  margin-bottom: 0px;
}

.lm-banner-sec .banner-wrapper {
  display: flex;
  align-items: center;
  flex-direction: row;
}

.lm-banner-sec .banner-content {
  width: 100%;
  max-width: 620px;
}

.lm-banner-sec .banner-content .register-button {
  width: 250px;
}

.lm-banner-sec .banner-content h2 {
  color: var(--lm-color-light);
  font-family: var(--lm-font);
  margin-bottom: 20px;
  line-height: 55px;
  width: 100%;
}

/*================================================
              LM Section Two
=================================================== */
.lm-sec-two h1 {
  font-size: 64px;
  line-height: 70px;
  margin-bottom: 10px;
  max-width: 650px;
  width: 100%;
}

.about-list {
  padding-left: 0;
}

.about-list li {
  list-style: none;
  margin-bottom: 8px;
  color: var(--lm-color-first);
  font-size: 20px;
  font-weight: 600;
}

.about-list li img {
  margin-right: 5px;
}

.about-widget {
  border: 1px solid var(--lm-color-first);
  padding: 20px 20px;
  border-radius: 5px;
  box-shadow: 10px 6px 20px rgba(0, 0, 0, 0.12);
}

.about-widget ul {
  padding-left: 0;
  max-width: 80%;
  margin: 0 auto;
}

.about-widget ul li {
  list-style: none;
}

.about-widget ul li a {
  text-decoration: none;
  color: var(--lm-color-second);
  padding: 5px 0px;
  display: block;
  position: relative;
  transition: all ease-in-out 0.5s;
}

.about-widget-inner .thumb img {
  width: 150px;
}

.about-widget ul li a:hover {
  color: var(--lm-color-first);
}

.about-widget ul li a::after {
  position: absolute;
  width: 10px;
  height: 10px;
  content: "";
  background: var(--lm-color-first);
  border-radius: 100%;
  left: -25px;
  top: 20px;
  transform: translateY(-50%);
}

/*================================================
              LM Section Three
=================================================== */
.lm-sec-three .lm-content {
  background-color: var(--lm-color-third);
  padding: 50px 80px;
  padding-left: 300px;
}

.lm-sec-three .lm-content .lm-sec-title {
  margin-bottom: 30px;
}

.lm-sec-three .lm-content .lm-sec-title,
.lm-sec-three .lm-content p {
  color: var(--lm-color-light);
}

.lm-sec-three .lm-content ul {
  margin-top: 10px;
  display: block;
}

.lm-sec-three .lm-thumb,
.lm-sec-three .lm-thumb img {
  height: 100%;
}

.lm-sec-three .lm-content ul li {
  list-style: none;
  color: var(--lm-color-light);
  margin-bottom: 20px;
}

.lm-sec-three .lm-content ul li img {
  margin-right: 8px;
  display: inline-block;
  width: 18px;
}
/*================================================
              LM Section Four
=================================================== */
.lm-sec-four .lm-sec-title {
  font-size: 35px;
  line-height: 45px;
}

/*================================================
              LM Section Five
=================================================== */
.lm-sec-five {
  background-image: url("../images/banner/property-owner-banner.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  height: auto;
}

.lm-sec-five .section-content {
  max-width: 600px;
  width: 100%;
}

.lm-sec-five .section-content p {
  color: var(--lm-color-light);
  font-weight: 600;
}

.lm-sec-five .section-content ul {
  padding-left: 20px;
  padding-top: 15px;
}

.lm-sec-five .section-content ul li {
  list-style: square;
  color: var(--lm-color-light);
  padding-bottom: 12px;
}

.lm-sec-five .cta-wrapper {
  background-color: var(--lm-color-first);
  padding: 35px;
  border-radius: 12px;
  position: relative;
  transform: translateY(50%);
}

.lm-sec-five .cta-wrapper .left-content {
  width: 70%;
}

.lm-sec-five .cta-wrapper .right-content {
  width: 30%;
}

.lm-sec-five .cta-wrapper .person-thumb {
  position: absolute;
  right: 20%;
  top: -40px;
}

.lm-sec-five .cta-wrapper .person-thumb img {
  width: 250px;
}

.lm-sec-five .cta-wrapper .left-content .desc {
  max-width: 520px;
  width: 100%;
}

/*================================================
              LM Section Six
=================================================== */
.lm-service-item .lm-thumb {
  position: relative;
}

.lm-service-item .lm-content .lm-sec-title {
  padding-bottom: 0px;
}

.lm-service-item .lm-content {
  padding: 40px 20px 30px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border: 1px solid var(--lm-color-first);
  border-top: none;
  min-height: max-content;
  min-height: 760px;
}

.lm-service-item .lm-thumb .icon {
  position: absolute;
  bottom: -25px;
  right: 5%;
  border-radius: 100%;
  box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.1);
}

.lm-service-item .lm-thumb .icon img {
  width: 60px;
}

/*================================================
              LM Section Seven
=================================================== */
.lm-sec-seven {
  background-color: var(--lm-color-third);
}

.lm-sec-seven .lm-sec-background {
  background-image: url("../images/banner/roof-replacement-banner.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  height: auto;
}

.lm-sec-seven .overlay:after {
  background-color: rgba(0, 0, 0, 0.7);
}

.lm-sec-seven .lm-sec-wrapper-top {
  transform: translateY(-100px);
  padding: 30px;
  border-radius: 5px;
  background-color: var(--lm-color-light);
}

.lm-sec-seven .lm-sec-wrapper-top .lm-thumb {
  position: absolute;
  top: -30px;
}

.lm-sec-seven .lm-sec-wrapper-top .lm-thumb img {
  width: 370px;
}

.lm-sec-seven .lm-banner-content h2,
.lm-sec-seven .lm-banner-content p {
  color: var(--lm-color-light);
  text-align: center;
}

.lm-sec-seven .lm-banner-content {
  max-width: 820px;
  margin: 0 auto;
}

.lm-sec-seven .lm-sec-wrapper-bottom {
  transform: translateY(-80px);
}

/*================================================
              LM Section Eight
=================================================== */
.lm-sec-eight .tab-content .tab-pane {
  background-color: var(--lm-color-third);
  min-height: 500px;
  padding: 40px 30px;
}

.lm-sec-eight .lm-thumb img {
  border-radius: 10px;
}

.lm-sec-eight .tab-header-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--lm-color-third);
  font-weight: 700;
  font-size: 15px;
  padding: 12px 0px 15px;
}

.lm-sec-eight .nav-tabs .nav-item.show .nav-link,
.lm-sec-eight .nav-tabs .nav-link.active {
  background: transparent;
  border-color: transparent;
}

.lm-sec-eight .nav-item {
  width: 20%;
  position: relative;
  display: flex;
  justify-content: center;
}

.lm-sec-eight .nav-link::after {
  position: absolute;
  content: "";
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 12px 15px 12px 0;
  border-color: transparent var(--lm-color-third) transparent transparent;
  bottom: -6px;
  left: 50%;
  transform: translateX(-50%) rotate(90deg);
  opacity: 0;
}

.lm-sec-eight .nav-link.active::after {
  opacity: 1;
}

.lm-sec-eight .tab-header-item img {
  width: 25px;
  margin-bottom: 5px;
  min-height: 20px;
}

.lm-sec-eight .nav-tabs {
  background-color: #dbedf2;
  border-color: transparent;
}

/*================================================
              LM Section Nine
=================================================== */
.lm-sec-nine .section-content {
  max-width: 900px;
  margin: 0 auto;
  width: 100%;
}

.lm-sec-nine .lm-service-item .lm-content {
  border: 1px solid #cdcdcd;
  min-height: 615px;
}

/*================================================
              LM Section Ten
=================================================== */
.lm-sec-ten {
  background-image: url("../images/banner/creaftsmanship-banner.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  height: auto;
}

.lm-sec-ten .section-content {
  max-width: 670px;
  width: 100%;
}

/*================================================
              LM Section Eleven
=================================================== */
.lm-sec-twelve {
  background-image: url("../images/banner/form-banner.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  height: auto;
}

.lm-form-main {
  padding: 40px 35px 40px 35px;
  background: rgb(255, 255, 255, 0.85);
  border-radius: 10px;
  border: 1px solid #cdcdcd;
  box-shadow: rgba(17, 12, 46, 0.35) 0px 30px 70px 0px;
}

.lm-sec-twelve .lm-sec-title {
  color: var(--lm-color-neon);
}

/*================================================
              LM Section Fourteen
=================================================== */
.service-widget {
  box-shadow: 10px 6px 20px rgba(0, 0, 0, 0.12);
  border: 1px solid var(--lm-color-neon);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.service-widget .widget-top {
  background-color: var(--lm-color-neon);
  width: 100%;
  padding: 15px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.service-widget .widget-top h6 {
  color: var(--lm-color-light);
}

.service-widget .widget-top .selection {
  position: relative;
}

.service-widget .widget-top .selection select {
  border-radius: 8px;
  background-color: #bddaec;
  border: none;
  outline: none;
  padding: 7px 15px;
  -webkit-appearance: none;
  appearance: none;
}

.service-widget .widget-top .selection .icon {
  position: absolute;
  top: 50%;
  right: 5%;
  transform: translateY(-50%);
  pointer-events: none;
}

.service-widget .widget-bottom {
  padding: 15px 20px;
  border-radius: 5px;
  border-top: none;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
}

.service-widget .widget-bottom .redirect-links {
  padding-left: 0;
}

.service-widget .widget-bottom .redirect-links li {
  position: relative;
  list-style: none;
}

.service-widget .widget-bottom .redirect-links li a {
  text-decoration: none;
  color: var(--lm-color-dark);
  display: block;
  padding: 5px 25px;
}

.service-widget .widget-bottom .redirect-links li a::after {
  position: absolute;
  content: "";
  top: 12px;
  left: 0;
  width: 12px;
  height: 12px;
  background-color: var(--lm-color-neon);
  border-radius: 100%;
}

.service-widget .widget-bottom .action-btn .primary-btn {
  padding: 6px 25px;
  font-size: 14px;
  border-radius: 7px;
  background: var(--lm-color-neon);
  color: var(--lm-color-light);
}

/*================================================
              RESPONSIVE STYLES
=================================================== */
@media (max-width: 1200px) {
  .lm-service-item .lm-content {
    min-height: 955px;
  }

  .lm-sec-nine .lm-service-item .lm-content {
    border: 1px solid #cdcdcd;
    min-height: 760px;
  }
}

@media (max-width: 1024px) {
  .lm-sec-two h1 {
    font-size: 55px;
    line-height: 62px;
  }

  .lm-service-item {
    margin-bottom: 35px;
  }

  .lm-service-item .lm-content {
    padding: 25px 10px;
    border: 1px solid var(--lm-color-first);
  }
}

@media (max-width: 991px) {
  .lm-sec-eight .lm-thumb img {
    margin-bottom: 20px;
  }

  .lm-sec-eight .lm-content {
    margin-bottom: 10px;
  }
}

@media (max-width: 768px) {
  /* Tablet Styles */
  .lm-hero-btn {
    padding: 8px 30px;
    min-width: 200px;
  }

  .lm-form-main {
    padding: 20px;
  }

  .lm-service-item .lm-content {
    padding: 25px 20px;
    min-height: auto;
  }

  .accordion-wrapper .accordion-button::after {
    width: 12px;
    height: 15px;
    background-size: 8px;
  }

  .lm-hero-btn img {
    width: 25px;
  }
  .lm-sec-title {
    font-size: 28px;
    line-height: 30px;
  }
  .lm-sec-title.secondary {
    max-width: 100%;
  }

  .lm-sec-title.three {
    font-size: 24px;
    line-height: 30px;
  }
  .lm-sec-three .lm-content {
    padding: 30px 20px;
    padding-left: 20px;
  }

  .lm-sec-three .lm-thumb,
  .lm-sec-three .lm-thumb img {
    height: auto;
  }

  .lm-sec-three .lm-content .lm-sec-title {
    margin-bottom: 5px;
  }

  .lm-sec-three .lm-content ul {
    margin-top: 0px;
  }

  .lm-sec-title.four {
    font-size: 20px;
    line-height: 25px;
  }

  .lm-sec-four .section-thumb {
    margin-bottom: 15px;
  }

  .lm-sec-four .lm-sec-title {
    font-size: 25px;
    line-height: 35px;
  }

  .lm-sec-five .cta-wrapper .left-content,
  .lm-sec-five .cta-wrapper .right-content {
    width: 100%;
  }

  .lm-sec-five .section-content ul li {
    padding-bottom: 8px;
  }

  .lm-sec-five .cta-wrapper {
    padding: 20px;
    border-radius: 8px;
    width: 92%;
    margin: 0 auto 10px;
    transform: translateY(0%);
  }

  .lm-sec-seven .lm-sec-wrapper-bottom {
    transform: translateY(0%);
  }

  .lm-sec-five .cta-wrapper .icon img {
    width: 40px;
  }

  .lm-service-item .lm-thumb .icon img {
    width: 40px;
  }

  .lm-service-item {
    margin-bottom: 25px;
  }
  .lm-sec-nine .lm-service-item .lm-content {
    min-height: auto;
  }

  .lm-sec-seven .lm-sec-wrapper-top .lm-thumb {
    position: static;
    top: 0;
  }

  .lm-sec-title.five {
    font-size: 18px;
    line-height: 27px;
  }

  .lm-banner-sec {
    height: 300px;
    padding: 40px 0px;
  }

  .lm-banner-sec .banner-wrapper {
    flex-direction: column;
  }

  .lm-banner-sec .banner-content {
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .lm-banner-sec .banner-content h2 {
    max-width: 100%;
    text-align: center;
    font-size: 40px;
    line-height: 45px;
    margin-bottom: 10px;
  }

  .lm-banner-sec .banner-content span {
    font-size: 20px;
    margin-bottom: 10px;
  }

  .lm-sec-two h1 {
    font-size: 40px;
    line-height: 45px;
    margin-bottom: 0px;
  }

  .about-list li {
    font-size: 18px;
  }

  .about-widget {
    padding: 20px 45px;
  }

  .about-widget ul {
    max-width: 100%;
  }

  .green-list li {
    padding: 7px 0px;
  }

  .lm-sec-seven .lm-sec-wrapper-top .item .content {
    padding: 25px 15px 15px;
    min-height: auto;
    margin-bottom: 20px;
  }

  .lm-sec-seven .lm-sec-wrapper-top {
    transform: translateY(0px);
    margin: 30px 0px 10px;
  }

  .lm-sec-seven .lm-sec-wrapper-top .lm-content {
    margin-top: 20px;
  }

  .lm-sec-seven .lm-sec-wrapper-bottom .right-content .lm-sec-title {
    font-size: 28px;
  }

  .lm-sec-seven .action-logo-btn {
    font-size: 14px;
  }

  .lm-sec-eight {
    height: auto;
  }

  .lm-sec-nine .lm-sec-nine-wrapper .content {
    padding: 15px;
  }

  .lm-sec-nine .lm-sec-nine-wrapper {
    background-position: center;
  }
}

@media (max-width: 480px) {
  /* Mobile Small Styles */

  .lm-hero-btn {
    padding: 8px 10px;
    min-width: 140px;
    font-size: 13px;
  }

  .accordion-wrapper .accordion-body {
    padding: 20px 10px;
  }

  .lm-hero-btn img {
    width: 20px;
  }

  .lm-sec-title {
    font-size: 24px;
    line-height: 30px;
  }

  .lm-service-item .lm-content {
    padding: 25px 10px;
  }

  .accordion-wrapper .accordion-button {
    font-size: 14px;
    line-height: 20px;
  }

  .accordion-wrapper .accordion-item {
    margin-bottom: 15px;
  }

  .lm-sec-title.three {
    font-size: 20px;
    line-height: 26px;
  }

  .lm-sec-title.four {
    font-size: 18px;
    line-height: 24px;
  }

  .lm-banner-sec .primary-btn {
    padding: 7px 20px;
    font-size: 14px;
  }

  .lm-banner-sec .primary-btn img {
    width: 14px;
  }

  .lm-banner-sec .primary-btn.call-btn {
    margin-bottom: 0px;
  }

  .lm-banner-sec .banner-content h2 {
    font-size: 24px;
    line-height: 30px;
  }

  .lm-banner-sec .banner-content span {
    font-size: 18px;
  }

  .lm-sec-eight .lm-thumb img {
    margin-top: 20px;
  }

  .lm-sec-two h1 {
    font-size: 28px;
    line-height: 30px;
  }

  .about-list li {
    font-size: 15px;
  }

  .lm-sec-seven .lm-sec-wrapper-bottom .right-content .lm-sec-title {
    font-size: 22px;
  }
}
